@import "tailwindcss";

@theme {
  --color-baseline: rgb(238, 237, 237);
  --color-primary: rgb(83, 178, 255);
  --color-secondary: rgb(39, 154, 248);
  --color-inverted: rgb(33, 33, 33);
  --color-fill: rgb(83, 178, 255);

  --color-bg: rgb(18, 24, 27);
  --color-bg-top: rgb(42, 46, 53);
  --color-bg-overflow-menu: rgb(46, 46, 46);
  --color-bg-active: rgb(58, 65, 73);

  --color-danger: rgb(253, 88, 88);
  --color-success: rgb(127, 255, 127);
  --color-warning: rgb(255, 183, 51);
  --color-info: rgb(51, 164, 255);
  --color-default: rgb(232, 230, 227);
  --color-exquisite: rgb(211, 131, 251);
  --color-disabled: rgb(115, 117, 132);
}
